/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
  *= require_self
  *= require_tree ./ie/css/foundation4
  *= require ie/ie-nav
 */

@import "constants";

$navbarBackground: $blue;
$navbarBackgroundHighlight: $darkBlue;
$navbarBrandColor: $white;
$navbarText: $white;
$navbarBrandColor: $white;
$navbarLinkColor: darken($white, 5%);
$navbarLinkColorHover: $white;
$navbarLinkColorActive: $white;
$navbarLinkBackgroundHover: $navbarBackground;
$navbarLinkBackgroundActive: $darkBlue;

.promptly-sub-nav {
  background: $lightGray;
  margin-top: 2px;
  width: 100% !important;
  margin-left: 0em !important;
  @include sub-nav(
    // Control the color of the divider between links.
    // Control your font-size per label.
    $font-size: rem-calc(18),
    // Change the background color for your labels
    $active-bg: white,
    $font-color: $blue
  );
  .right-side {
    float: right;
  }
  dd a {
    text-transform: none;
    &:hover {
      background: $blue;
      border: none;
      color: #fff;
    }
  }
}


